<template>
  <div id="container">
    <div class="wrapper">
      <!-- head -->
      <div class="logo_one">
        <svg width="78" height="48" viewBox="0 0 78 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C29.8512 0 35.2134 2.0939 39.378 5.57326L21 23.9513L39.431 42.3823C35.2589 45.8883 29.8761 48 24 48Z" fill="#FF7F22"/>
          <circle r="4.5" transform="matrix(-1 0 0 1 43.5 23.5)" fill="#FF7F22"/>
          <circle r="4.5" transform="matrix(-1 0 0 1 58.5 23.5)" fill="#FF7F22"/>
          <circle r="4.5" transform="matrix(-1 0 0 1 73.5 23.5)" fill="#FF7F22"/>
        </svg>
      </div>
      <div class="logo_two">
        <div id="logotext">
          <span>Произвести биоробота</span>
        </div>
      </div>
      <!-- 01 -->
      <div class="grid_one">
        <div class="head_one">01</div>
        <div class="scroll_down">скролл</div>
        <div class="scroll_arrow"><img src="./assets/arrow.png"></div>
      </div>
      <div class="head_two">
        <div class="factory-title">
          <h1>Фабрика по производству биороботов</h1>
          <span class="big-gray">класса «монитор-кресло»</span>
        </div>
      </div>
      <div class="head_three">
        <img src="./assets/roboimage.png" width="366" height="320" />
      </div>
      <!-- 02 -->
      <div class="grid_one">02</div>
      <div class="grid_seven">
        <h2 class="m60b">Кошелек криптовалют</h2>
        <div>
          <!-- <p><img src="./assets/Coins.png"/></p> -->
          <div class="coin-start" v-show="moreOne"></div><div class="coin-add" v-bind:style="width"></div><div class="coin-end" v-show="moreOne"></div>

          <p><span class="big-gray">{{ coins }} biorobo монет</span></p>
        </div>
        <div class="get_coins">
          <a @click="addCoins" ><span>Нацыганить</span></a> <input type="checkbox" class="coins-checkbox" id="chkCoins" name="coins" value="yes"><label for="chkCoins">Цыганить по 5 монет</label>
        </div>
      </div>
      <!-- 03 -->
      <div class="grid_one">03</div>
      <div class="grid_seven">
        <h2>Рынок комплектующих</h2>
        <div class="wrapper3">
          <div>
            <div class="parts"><img src="./assets/icon_hand.png" /></div>
            <h3>Биомеханизм</h3>
            <p class="small-grey">Стоимость: 7 монет</p>
            <input type="button" value="Установить" class="btnParts">
          </div>
          <div>
            <div class="parts"><img src="./assets/icon_chip.png" /></div>
            <h3>Процессор</h3>
            <p class="small-grey">Стоимость: 5 монет</p>
            <input type="button" value="Установить" class="btnParts">
          </div>
          <div>
            <div class="parts"><img src="./assets/icon_face.png" /></div>
            <h3>Душа</h3>
            <p class="small-grey">Стоимость: 25 монет</p>
            <input type="button" value="Установить" class="btnParts" disabled>
          </div>
        </div>
      </div>
      <!-- 04 -->
      <div class="grid_one">04</div>
      <div class="grid_seven">
        <h2 class="m40">Склад</h2>
        <div class="wrapper3">
          <div>
            <h3>Биомеханизм</h3>
            <p class="small-grey">Стоимость: 5 монет</p>
            <div class="storage_counter">2 шт</div>
            <input type="button" value="Продать" class="btnStore">
          </div>
          <div>
            <h3>Процессор</h3>
            <p class="small-grey">Стоимость: 3 монет</p>
            <div class="storage_counter">2 шт</div>
            <input type="button" value="Продать" class="btnStore">
          </div>
          <div>
            <h3>Душа</h3>
            <p class="small-grey">Стоимость: 15 монет</p>
            <div class="storage_counter">0 шт</div>
            <input type="button" value="Продать" class="btnStore" disabled>
          </div>
        </div>
      </div>
      <!-- 05 -->
      <div class="grid_one">05</div>
      <div class="grid_seven">
        <h2 class="m80">Производство</h2>
        <div class="wrapper3">
          <div>
            <div class="form_radio">
              <fieldset><legend>Тип биоробота:</legend>
                <input type="radio" class="factory-radio m20r" id="FrontEnd" name="biotype" value="frontend" checked>
                <label for="FrontEnd">FrontEnd</label>
                <input type="radio" class="factory-radio" id="Design" name="biotype" value="design">
                <label for="Design">Design</label>
              </fieldset>
              <fieldset><legend>Стабилизатор:</legend>
                <input type="radio" class="factory-radio m20r" id="Male" name="stabtype" value="male" checked>
                <label for="Male">Male</label>
                <input type="radio" class="factory-radio" id="Female" name="stabtype" value="female">
                <label for="Female">Female</label>
              </fieldset>
            </div>
            <div class="bottomFactory">
              <input type="button" value="Произвести за 10 монет" class="btnFactory" disabled>
            </div>
          </div>
          <div>
            <div class="wrapper4">
              <!--  1 row                     -->
              <div><img src="./assets/meh1_choose.png"></div>
              <div><img src="./assets/meh1_choose.png"></div>
              <div><img src="./assets/meh1_available.png"></div>
              <div><img src="./assets/meh1_absent.png"></div>
              <!--  2 row                     -->
              <div><img src="./assets/meh2_choose.png"></div>
              <div><img src="./assets/meh2_available.png"></div>
              <div><img src="./assets/meh2_absent.png"></div>
              <div><img src="./assets/meh2_absent.png"></div>
              <!--  3 row                     -->
              <div><img src="./assets/meh3_absent.png" height="48"
                        width="48"/></div>
            </div>
            <div class="note_create">Для производства биоробота не хватает 2 биомеханизма, 3 процессора и души</div>
          </div>
          <div>
            <img src="./assets/3.png" class="typeofrobot">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

export default {
  data() {
    return {
      coins: 0,
      max_coins: 100
    }
  },
  methods: {
    addCoins(){
      if (!this.doneCoins)
        this.coins += 1;
    }
  },
  computed: {
    width(){
      const part_of_coin = 7; //7px width
      let  w = (this.coins - 1) * part_of_coin ;
      if (w>this.max_coins*part_of_coin) {w=this.max_coins*part_of_coin;} else if (w<0) {w=0;}

      return {width: w + 'px'}
    },
    moreOne(){
      return this.coins >= 1
    },
    doneCoins(){
        return this.coins >= this.max_coins
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  body {
    padding: 0;
    margin: 0;
    background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
  }
  img {
    border:0px;
  }
  #container {
    padding:48px;
    width:1016px;
    margin: 0 auto;
  }

  #logotext {
    width: 236px;
    height: 48px;

    border: 2px solid #FF7F22;
    box-sizing: border-box;
    border-radius: 60px;
    float: right;
  }
  #logotext span {
    height: 24px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    /* identical to box height, or 150% */

    display: block;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }
  .scroll-point {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    align-items: center;
    text-align:left;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #667380;


    vertical-align:middle;
    margin:0px;
  }
  .scroll-point-first {
    padding: 50px 0;text-align:left;
  }
  .scroll-point p span {
    text-align:left;
    display:block;
    transform: rotate(-90deg);

  }
  .right-content {
    margin-left: 130px;
  }
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    color: #FFFFFF;
    margin:24px 0;
  }
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    text-align:left;
    color: #FFFFFF;
    margin:0;
  }
  .big-gray {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #A3B8CC;
  }
  .factory-title {
    width: 470px;
    text-align: left;
    float: left;
  }
  .factory-img-robots {
    width: 366px;
    height: 320px;
    float: right;
  }

  /*-------- grid --------------*/

  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 96px 24px;
  }
  .logo_one {
    grid-column: 1/7;
    text-align:left;
  }
  .logo_two {
    grid-column: 7/9;
  }
  .head_one {
    margin-top:24px;
    line-height: 72px;
  }
  .head_two {
    grid-column: 2/6;

  }
  .head_three {
    grid-column: 6/9;

  }

  .grid_one {
    grid-column: 1/2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;/*24px;*/
    /* identical to box height, or 200% */

    align-items: center;
    text-align:left;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #667380;

    text-align:left;

  }
  .grid_seven {
    grid-column: 2 / 9;

    vertical-align:top;
    min-height:100px;
  }
  .wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 236px);
    grid-gap: 24px;
  }
  .parts {
    align-items:center;
    text-align:center;
    vertical-align:middle;
    width:236px;
    height:128px;
    margin-top:60px;
    margin-left:0;
    margin-bottom:25px;
    margin-right:0px;
    display:flex;
    justify-content: center;
  }
  .parts img {
    filter: drop-shadow(0px 8px 90px #FF7F22);
  }
  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    text-align: center;

    color: #FFFFFF;
    margin-bottom:5px;
  }
  .small-grey {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #A3B8CC;
    margin-top:0;
  }
  .btnParts {
    width: 200px;
    height: 48px;

    background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
    border-radius: 60px;
    border:0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    display:block;
    margin:0 auto;
    color: #FFFFFF;
  }
  .btnParts:hover {
    background: #FF5722;
  }
  .btnParts:active {
    background: #FF7F22;
  }
  .btnParts:disabled {
    background: #4C5865;
    color: #7D90A6;
  }
  .storage_counter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    color: #FFFFFF;

    margin-bottom: 24px;
  }
  .btnStore {
    width: 200px;
    height: 48px;

    background: none;
    border-radius: 60px;
    border: 2px solid #22B3E3;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #7CDAF9;

    display:block;
    margin:0 auto;
  }
  .btnStore:hover {
    border: 2px solid #7CDAF9;
    background: #7CDAF9;
    color: #212529;
  }
  .btnStore:active {
    background: none;
    color: #7CDAF9;
  }
  .btnStore:disabled {
    border: 2px solid #4C5865;
    background: none;
    color: #4C5865;
  }
  .m40{		margin-bottom:40px;}
  .m80{		margin-bottom:80px;}
  .typeofrobot {
    width: 236px;
    height: 320px;
  }
  .scroll_down {
    transform: rotate(-90deg);
    margin-left: -90px;
    margin-top: 52px;
  }
  .scroll_arrow {
    margin-top:83px;
  }
  .wrapper4 {
    display: grid;
    grid-template-columns: repeat(4, 48px);
    grid-gap: 12px 10px;
  }
  .note_create {
    margin-top: 61px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #A3B8CC;
  }
  .btnFactory {
    width: 236px;
    height: 48px;
    border: 2px solid #FF7F22;

    box-sizing: border-box;
    border-radius: 60px;

    background: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 150% */


    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }
  .btnFactory:hover {
    background: #FF5722;
    border: 0px;
  }
  .btnFactory:active {
    background: #FF7F22;
    border: 2px solid #FF7F22;
  }
  .btnFactory:disabled {
    background: none;
    border: 2px solid #4C5865;
    color: #4C5865;
  }
  .bottomFactory {
    margin-top: 49px;
  }
  .get_coins {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 150%;
    /* identical to box height, or 150% */

    color: #FFFFFF;

    margin-top:39px;
  }
  .get_coins a {
    border-bottom: 0.5px solid #FF7F22;
    text-decoration: none;
    color: #FF7F22;
    margin-right: 33px;
  }
  .coins-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .coins-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .coins-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #A3B8CC;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
  }
  .coins-checkbox:checked+label::before {
    border: 2px solid #A3B8CC;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 12'%3e%3cpath stroke='%23FF7F22' stroke-width='2' d='M1 5L6 10L13 1'/%3e%3c/svg%3e");
  }
  /* стили при наведении курсора на checkbox */
  .coins-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border: 2px solid #4C5865;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .coins-checkbox:not(:disabled):active+label::before {
    border: 2px solid #A3B8CC;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .coins-checkbox:disabled+label::before {
    background-color: #333940;
  }
  .form_radio fieldset {
    border:0;
    padding:0;
    margin:0;
  }
  .form_radio legend {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #FFFFFF;
  }
  .factory-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .factory-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 32px;
    /* or 133% */

    align-items: center;

    color: #FFFFFF;
    height: 32px;
    width: 107px;
    margin-top:16px;
    margin-bottom: 28px;
    margin-right:0;
    margin-left:0;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  .factory-radio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #A3B8CC;

    border-radius: 50%;
    margin:4px 12px 4px 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
  }
  /* стили при наведении курсора на радио */
  .factory-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #4C5865;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .factory-radio:not(:disabled):active+label::before {
    border-color: #A3B8CC;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .factory-radio:checked+label::before {
    border-color: #A3B8CC;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3ccircle cx='8' cy='8' r='8' fill='%23FF7F22'/%3e%3c/svg%3e");
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .factory-radio:disabled+label::before {
    background-color: #333940;
  }
  .m20r+label {margin-right:18px;}
  .m60b {margin-bottom:60px;}
  .coin-start{display: inline-flex;line-height:20px;width: 9px;height: 20px; background: url('./assets/Coins__r1_c1.png') no-repeat;}
  .coin-end{display: inline-flex;line-height:20px;width: 7px;height: 20px; background: url('./assets/Coins__r1_c3.png') no-repeat;}
  .coin-add{display: inline-flex;line-height:20px;width: 0px;height: 20px; background: url('./assets/Coins__r1_c2.png') repeat-x;}
</style>
